<div class="center-div">
  <p class="red">
  <%= flash.notice %>
  </p>

  <%= form_with( url: sessions_path ) do |f| %>

    <div class="field">
    <%= label_tag :name, "User Name to Log In" %><br />
    <%= f.text_field :name, autofocus: true  %>
    </div>

    <div class="actions">
      <%= f.submit "Login"  %>
    </div>
  <% end %>
</div>
