Please login
<p class="red">
<%= flash.notice %>
</p>

<%= form_with( url: sessions_path ) do |f| %>

  <div class="field">
  <%= label_tag :username, "User Name to login" %><br />
  <%= f.text_field :username, autofocus: true  %>
  </div>

  <div class="actions">
    <%= f.submit "Login" %>
  </div>
<% end %>