<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="user-strip"><%= 'About ' + @user.name  %></div>

<table>
<thead>
  <tr>
    <th class="w300">Created Events</th>
    <th class="w200">Date</th>
    <th class="w200">Location</th>
  </tr>
</thead>
<tbody>
<% @user.events.each do |e| %>
  <tr>
  <td><%= link_to e.description, event_path(e) %></td>
  <td><%= e.event_date.strftime("%A %B %d, %Y") %></td>
  <td><%= e.location %></td>
  </tr>
<% end %>
</tbody>
</table>

<% if @user.events.count.zero? %>
  <p class="brown"><%= @user.name %> has not created any events</p>
<% end  %>


<br/>

<% if @user.id == session[:user_id] %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', :back %>
