<p id="notice"><%= notice %></p>

<h1>Upcoming Events</h1>
<table>
  <thead>
    <tr>
      <th class="w300">Description</th>
      <th class="w300">Date</th>
      <th class="w300">Location</th>
      <th class="w200">Creator</th>
      <th class="w200">Attendees</th>
    </tr>
  </thead>

  <tbody>
    <% if @upcoming_events.count.zero? %>
      <td colspan="4">There are no upcoming events recorded</td>
    <% end %>
    <% @upcoming_events.each do |event| %>
      <tr>
        <td class="td-link"><%= link_to event.description, event_path(event.id), class: "tb-link"  %></td>
        <td class="td-link"><%= event.event_date.strftime("%A %B %d, %Y") %></td>
        <td class="td-link"><%= event.location  %></td>
        <td class="td-link"><%= link_to event.creator.name, user_path(event.creator.id), class: "tb-link"  %></td>
        <td class="td-link"><%= link_to event.attendees.count, event_path(event.id), class: "tb-link"  %></td>
      </tr>
    <% end %> 
  </tbody>
</table>

<h1>Past Events</h1>
<table>
  <thead>
    <tr>
      <th class="w300">Description</th>
      <th class="w300">Date</th>
      <th class="w300">Location</th>
      <th class="w200">Creator</th>
      <th class="w200">Attendees</th>
    </tr>
  </thead>

  <tbody>
    <% if @previous_events.count.zero? %>
      <td colspan="4">There are no previous events recorded</td>
    <% end %>
    <% @previous_events.each do |event| %>
      <tr>
        <td class="td-link"><%= link_to event.description, event_path(event.id), class: "tb-link"  %></td>
        <td class="td-link"><%= event.event_date.strftime("%A %B %d, %Y") %></td>
        <td class="td-link"><%= event.location  %></td>
        <td class="td-link"><%= link_to event.creator.name, user_path(event.creator.id), class: "tb-link"  %></td>
        <td class="td-link"><%= link_to event.attendees.count, event_path(event.id), class: "tb-link"  %></td>
      </tr>
    <% end %> 
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
