<div class="user-strip">
  <span class="top-label event"><%= @event.description.capitalize %></span>
  <%= link_to @register_label, events_users_path({:event_id => @event.id, :user_id => session[:user_id] }), method: "POST", class: "menu-button float-right " + @button_class %>
</div>

<div class="user-strip">
  <span class="top-label"><%= "Creator : " + @event.creator.name %></span>
  <% if @is_private %>
    <%= link_to 'Edit', edit_event_path(@event), class: "menu-button float-right" %>
    <%= link_to 'Destroy', event_path(@event.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "menu-button float-right" %>
  <% end %>
</div>
<div class="user-strip">
  <span class="top-label"><%= "Location : " + @event.location %></span>
</div>
<div class="user-strip">
  <span class="top-label"><%= "Date : " + @event.event_date.strftime("%A %B %d, %Y") %></span>
</div>

<table class="w_100 margin-bottom-20">
  <% if @is_private %>
    <th class="list-header" colspan="2">
  <% else %>
    <th class="list-header">
  <% end %>
  Attendees
  </th>
  <tbody>
    <% if @event.attendees.count.zero? %>
      <tr colspan="2"><td class="red p-10"> There are no attendees for this event </td></tr>
    <% else %>
      <% @event.attendees.each do |user| %>
        <tr>
          <td class="td-link">
            <%= link_to user.name, user_path(user.id), class: "tb-link" %>
          </td>
          <% if @is_private %>
            <td class="td-link w100">
              <%= link_to "Remove", events_users_path({event_id: @event.id, user_id: user.id}), method: "POST" , class: "rm-link" %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<% if @is_private %>
  <table class="w_100">
    <th class="list-header" colspan="2">
    Select Attendees
    </th>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <% unless @event.attendees.include?(user) %>
            <td class="td-link">
              <%= link_to user.name, user_path(user.id), class: "tb-link" %>
            </td>
            <% if @is_private %>
            <td class="td-link w100">
              <%= link_to "Invite", events_users_path({event_id: @event.id, user_id: user.id}), method: "POST" , class: "tb-link" %>
            </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
